<table *ngIf="todos; else tLoading" class="striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Priority</th>
      <th>Completed</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{ todo.id }}</td>
      <td>{{ todo.title }}</td>
      <td class="priority">
        <span [ngClass]="todo.priority">{{ todo.priority }}</span>
      </td>
      <td>{{ todo.completed }}</td>
      <td>
        <button
          (click)="triggerCompleteTodo(todo)"
          [disabled]="todo.completed"
          class="secondary">
          Set complete
        </button>
      </td>
      <td>
        <button (click)="triggerDeleteTodo(todo)" class="primary">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #tLoading>
  <div>
    <span>Loading TODOs...</span>
  </div>
</ng-template>
