table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    th {
        background-color: #ddd;
        text-align: left;
        padding: 8px;
    }
    td {
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
}