<nav class="mb-2">
  <a routerLink="/" role="home">Training</a>
  <a routerLink="/reactive-todo" routerLinkActive="active">
    <span>Reactive Todo</span>
    <ng-container *ngIf="{ count: todosService.nbTodos$ | async } as nbTodo">
      <span *ngIf="nbTodo.count !== null" class="ml-1"
        >({{ nbTodo?.count }})</span
      >
    </ng-container>
  </a>
  <a routerLink="/imperative-todo" routerLinkActive="active">Imperative Todo</a>
  <button
    *ngIf="themeService.theme | async as currentTheme"
    (click)="themeService.switchTheme()"
    class="primary"
    role="switch">
    {{
      currentTheme === 'dark' ? 'Switch to light theme' : 'Switch to dark theme'
    }}
  </button>
</nav>
